.Text {
  grid-area: text;
  height: 100%;
  margin: 20px;
  justify-content: center;
  place-self: center;
  z-index: 1;
}

.Name {
  text-align: left;
  font-size: 2.3em;
  color: white;
  font-family: "Coiny", cursive;
  line-height: 1.2;
  visibility: hidden;
}

.Profile {
  color: white;
  font-size: 0.7em;
  color: white;
  font-family: "Roboto Slab", serif;
  text-align: left;
  width: 80%;
}

.Text span {
  /* font-family: "Cantata One", serif; */
  /* text-shadow: 2px 2px #fd3a5c; */
}

.Text button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  width: 170px;
  height: 50px;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  cursor: pointer;
  margin-top: 70px;
  visibility: hidden;
}

.Text button:hover {
  transition: all 1s ease;
  transform: scale(1.1) perspective(1px);
}

@media (max-width: 750px) {
  .Profile {
    width: 100%;
  }
}

@media (max-width: 624px) {
  .Name {
    font-size: 2.2em;
  }
  .Text button {
    width: 123px;
    height: 38px;
    font-size: 14px;
  }
}

@media (max-width: 590px) {
  .Name {
    font-size: 1.6em;
  }
}
