.Text {
  grid-area: text;
  height: 100%;
}

.Text p {
  text-align: center;
  font-size: 36px;
  color: white;
  font-family: "Roboto Slab", serif;
}

.Text span {
  color: #f7d297;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.Text button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  width: 170px;
  height: 50px;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  cursor: pointer;
  margin-top: 70px;
}

@media (max-width: 550px) {
  .Text p {
    font-size: 26px;
  }

  .Text button {
    width: 123px;
    height: 38px;
    font-size: 14px;
  }
}
