.Container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "social"
    "text"
    "text";
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
  background: #051d3b;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
