.Modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.Content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
}

.BannerImage img {
  width: 100%;
  height: 550px;
  border-bottom: 5px solid black;
}

.FlexContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-self: space-evenly;
  height: 250px;
}

.Content-Info {
  align-self: flex-start;
  text-align: left;
}

.Content hr {
  margin-top: -15px;
  width: 100%;
}

.Content-Info h1 {
  font-size: 1em;
}

.Content-Info h5 {
  color: darkgrey;
  margin-top: -15px;
  font-weight: bold;
  font-size: 0.5em;
}

.Description {
  margin-top: -20px;
}
.Description p {
  color: black !important;
  text-align: left;
  font-size: 0.6em !important;
}

.Actions {
  margin-top: -40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.Actions button {
  /* margin-top: 10px; */
}
.Actions a {
  color: inherit;
  text-decoration: none;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 1500px) {
  .Content {
    top: 20%;
    width: 600px;
  }
  .BannerImage img {
    height: 350px;
  }
  .FlexContent {
    height: 220px;
  }
}

@media (max-width: 1200px) {
  .Content {
    top: 30%;
  }
}

@media (max-width: 705px) {
  .Content {
    top: 40%;
  }
}
