.Social {
  grid-area: social;
}

.Social ul {
  list-style-type: none;
  margin-top: 15px;
  display: flex;
  place-content: center;
}

.Social hr {
  margin: 50px;
}

.Item {
  margin: 0.7rem;
}

.Item img:hover {
  animation: bounce 1s;
}

.linkedin {
  height: 28px;
  width: 34px;
}

.twitter {
  height: 32px;
  width: 32px;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
