.Contact {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
    ". cta ."
    ". cta . "
    ". form . ";
  grid-template-rows: 1fr 2fr 1fr;
  height: 100vh;
  background-color: darkslateblue;
  font-family: "Roboto Slab", serif;
  color: rgb(119, 119, 119);
}

.CTA {
  grid-area: cta;
  place-self: center;
  text-align: center;
}

.CTA button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  width: 170px;
  height: 50px;
  border-radius: 5px;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  cursor: pointer;
  margin-top: 70px;
  /* visibility: hidden; */
}

.CTA a {
  text-decoration: none;
  color: inherit;
}
