.Contact {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
    ". cta ."
    ". cta . "
    ". tm . ";
  grid-template-rows: 1fr 1fr 1fr;
  height: 70vh;
  background-color: #051d3b;
  font-family: "Roboto Slab", serif;
  color: white;
}

.CTA {
  grid-area: cta;
  place-self: center;
  text-align: center;
}

.CTA p {
  font-size: 0.7em;
}

.CTA button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  width: 170px;
  height: 50px;
  border-radius: 5px;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  cursor: pointer;
  margin-top: 70px;
  /* visibility: hidden; */
}

.CTA button:hover {
  transition: all 1s ease;
  transform: scale(1.1) perspective(1px);
}

.CTA a {
  text-decoration: none;
  color: inherit;
}

.TM {
  grid-area: tm;
  text-align: center;
  align-self: flex-end;
  font-size: 0.6em;
  margin-bottom: 20px;
}
