.Container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    ".   .   ."
    ". image ."
    ". text  ."
    ". social .";
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}
